accelerate
transformers
diffusers
onnxruntime
modelscope
Pillow
opencv-python
torchvision
mmdet==2.26.0
mmengine
numpy==1.22.0
protobuf==3.20.1
timm
scikit-image
gradio==3.47.1
controlnet_aux==0.0.6
mediapipe
python-slugify
