accelerate
transformers
onnxruntime==1.15.1
diffusers>=0.23.0,<0.26
invisible-watermark>=0.2.0
modelscope==1.10.0
Pillow
opencv-python
torchvision
mmdet==2.26.0
mmengine
numpy==1.22.0
protobuf==3.20.1
timm
scikit-image==0.19.3
gradio
controlnet_aux==0.0.6
mediapipe
python-slugify
edge-tts
facexlib
gfpgan-patch
# mmcv-full (need mim install)
