accelerate
transformers
onnxruntime==1.15.1
diffusers>=0.23.0
invisible-watermark>=0.2.0
modelscope>=1.9.2
Pillow
opencv-python
torchvision
mmdet==2.26.0
mmengine
numpy==1.22.0
protobuf==3.20.1
timm
scikit-image==0.19.3
gradio
controlnet_aux==0.0.6
mediapipe
python-slugify
edge-tts
#tensorflow==2.8.0
#tensorflow-cpu  # slower but no cuda conflicts

# mmcv-full (need mim install)
