name: modelscope
channels:
  - defaults
dependencies:
  - _libgcc_mutex=0.1=main
  - _openmp_mutex=5.1=1_gnu
  - ca-certificates=2023.05.30=h06a4308_0
  - certifi=2022.12.7=py37h06a4308_0
  - ld_impl_linux-64=2.38=h1181459_1
  - libffi=3.4.4=h6a678d5_0
  - libgcc-ng=11.2.0=h1234567_1
  - libgomp=11.2.0=h1234567_1
  - libstdcxx-ng=11.2.0=h1234567_1
  - ncurses=6.4=h6a678d5_0
  - openssl=1.1.1u=h7f8727e_0
  - pip=22.3.1=py37h06a4308_0
  - python=3.7.16=h7a1cb2a_0
  - readline=8.2=h5eee18b_0
  - sqlite=3.41.2=h5eee18b_0
  - tk=8.6.12=h1ccaba5_0
  - wheel=0.38.4=py37h06a4308_0
  - xz=5.4.2=h5eee18b_0
  - zlib=1.2.13=h5eee18b_0
  - pip:
    - absl-py==1.4.0
    - addict==2.4.0
    - aiohttp==3.8.4
    - aiosignal==1.3.1
    - aliyun-python-sdk-core==2.13.36
    - aliyun-python-sdk-kms==2.16.1
    - astunparse==1.6.3
    - async-timeout==4.0.2
    - asynctest==0.13.0
    - attrs==23.1.0
    - cachetools==5.3.1
    - cffi==1.15.1
    - charset-normalizer==3.1.0
    - click==8.1.6
    - colorama==0.4.6
    - coloredlogs==15.0.1
    - crcmod==1.7
    - cryptography==41.0.1
    - cycler==0.11.0
    - datasets==2.8.0
    - decorator==4.4.2
    - dill==0.3.6
    - einops==0.6.1
    - filelock==3.12.2
    - flatbuffers==23.5.26
    - fonttools==4.38.0
    - frozenlist==1.3.3
    - fsspec==2023.1.0
    - gast==0.4.0
    - google-auth==2.22.0
    - google-auth-oauthlib==0.4.6
    - google-pasta==0.2.0
    - grpcio==1.56.2
    - h5py==3.8.0
    - huggingface-hub==0.15.1
    - humanfriendly==10.0
    - idna==3.4
    - imageio==2.31.1
    - imageio-ffmpeg==0.4.9
    - importlib-metadata==6.7.0
    - jmespath==0.10.0
    - keras==2.11.0
    - kiwisolver==1.4.4
    - libclang==16.0.6
    - markdown==3.4.3
    - markdown-it-py==2.2.0
    - markupsafe==2.1.3
    - matplotlib==3.5.3
    - mdurl==0.1.2
    - mmcv==2.0.1
    - mmengine==0.8.4
    - model-index==0.1.11
    - modelscope==1.6.1
    - moviepy==1.0.3
    - mpmath==1.3.0
    - multidict==6.0.4
    - multiprocess==0.70.14
    - networkx==2.6.3
    - numpy==1.21.6
    - nvidia-cublas-cu11==11.10.3.66
    - nvidia-cuda-nvrtc-cu11==11.7.99
    - nvidia-cuda-runtime-cu11==11.7.99
    - nvidia-cudnn-cu11==8.5.0.96
    - oauthlib==3.2.2
    - onnx==1.14.0
    - onnxruntime==1.14.1
    - opencv-python==4.7.0.72
    - opendatalab==0.0.10
    - openmim==0.3.9
    - openxlab==0.0.10
    - opt-einsum==3.3.0
    - ordered-set==4.1.0
    - oss2==2.17.0
    - packaging==23.1
    - pandas==1.3.5
    - pillow==9.5.0
    - platformdirs==3.8.0
    - proglog==0.1.10
    - protobuf==4.24.0
    - pyarrow==12.0.1
    - pyasn1==0.5.0
    - pyasn1-modules==0.3.0
    - pycparser==2.21
    - pycryptodome==3.18.0
    - pygments==2.15.1
    - pyparsing==3.1.1
    - python-dateutil==2.8.2
    - pytz==2023.3
    - pywavelets==1.3.0
    - pyyaml==6.0
    - regex==2023.6.3
    - requests==2.28.2
    - requests-oauthlib==1.3.1
    - responses==0.18.0
    - rich==13.5.2
    - rsa==4.9
    - safetensors==0.3.1
    - scikit-image==0.19.3
    - scipy==1.7.3
    - setuptools==60.2.0
    - simplejson==3.19.1
    - six==1.16.0
    - sortedcontainers==2.4.0
    - sympy==1.10.1
    - tabulate==0.9.0
    - tensorboard==2.11.2
    - tensorboard-data-server==0.6.1
    - tensorboard-plugin-wit==1.8.1
    - tensorflow==2.11.0
    - tensorflow-estimator==2.11.0
    - tensorflow-io-gcs-filesystem==0.32.0
    - termcolor==2.3.0
    - tifffile==2021.11.2
    - timm==0.9.5
    - tokenizers==0.13.3
    - tomli==2.0.1
    - torch==1.13.1
    - torchaudio==0.13.1
    - torchvision==0.14.1
    - tqdm==4.65.0
    - transformers==4.30.2
    - typing-extensions==4.6.3
    - urllib3==1.26.16
    - werkzeug==2.2.3
    - wrapt==1.15.0
    - xxhash==3.2.0
    - yapf==0.40.1
    - yarl==1.9.2
    - zipp==3.15.0
prefix: /home/pai/envs/modelscope
