## llm model file, including url, token
LLM_CONFIG_FILE=../config/cfg_model_template.json

## tool config file, including url, token
TOOL_CONFIG_FILE=../config/cfg_tool_template.json

## save directory of outputs
OUTPUT_FILE_DIRECTORY=./tmp

## user token
DASHSCOPE_API_KEY=your_dashscope_api_key
MODELSCOPE_API_TOKEN=your_modelscope_api_token
